body{
  background-image: url(images/bg4.jpg);
  background-size: cover;
  width: 100vw;
}

h1{
  color: #FFFFFF;
  font-size: 500%;
  margin-top: 0px;
  margin-bottom: 0%;
  font-family: cursive;
}

h3{
  color: #FFFAD7;
  font-size: 300%;
  font-family: cursive;
  margin: 0px;
}

h4{
  color: #B3FFAE;
  font-size: 250%;
  margin: 0px;
  margin-bottom: 25px;
}

.fb{
  color: #EC7272;
}

#lock{ display:none; }
   @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
 #lock{ display:block; }
 #container{ display:none; }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  #lock{ display:none; }
 #container{ display:block; }
}
