body{
  background-image: url(images/bg2.jpg);
  background-size: cover;
  width: 100vw;
}

h1{
  color: #A47E3B;
  font-size: 300%;
  font-weight: bolder;
}

h3{
  color: #61481C;
  font-size: 200%;
  font-weight: bolder;
}

a{
  text-decoration: none;
  color: #61481C;
  font-weight: bold;
}

#lock{ display:none; }
   @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
 #lock{ display:block; }
 #container{ display:none; }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  #lock{ display:none; }
 #container{ display:block; }
}

.btn {
  background: #FFCE45;
  background-image: -webkit-linear-gradient(top, #FFCE45, #D4AC2B);
  background-image: -moz-linear-gradient(top, #FFCE45, #D4AC2B);
  background-image: -ms-linear-gradient(top, #FFCE45, #D4AC2B);
  background-image: -o-linear-gradient(top, #FFCE45, #D4AC2B);
  background-image: linear-gradient(to bottom, #FFCE45, #D4AC2B);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #EA047E;
  background-image: -webkit-linear-gradient(top, #EA047E, #FCE700);
  background-image: -moz-linear-gradient(top, #EA047E, #FCE700);
  background-image: -ms-linear-gradient(top, #EA047E, #FCE700);
  background-image: -o-linear-gradient(top, #EA047E, #FCE700);
  background-image: linear-gradient(to bottom, #EA047E, #FCE700);
  text-decoration: none;
}
