body{
  background-image: url(images/bg5.jpg);
  background-size: cover;
  width: 100vw;
}

h1{
  color: #FF6464;
  font-size: 500%;
  margin-bottom: 100px;
  font-family: cursive;
}

p{
  color: #FF8DC7;
  font-size: 200%;
}

a{
  color: #2192FF;
}

img{
  width: 50%;
}

#lock{ display:none; }
   @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
 #lock{ display:block; }
 #container{ display:none; }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  #lock{ display:none; }
 #container{ display:block; }
}
