body{
  background-image: url(images/bg2.jpg);
  background-size: cover;
  width: 100vw;
}

h1{
  color: #A47E3B;
  font-size: 300%;
}

h3{
  color: #61481C;
  font-size: 200%;
}

a{
  text-decoration: none;
  color: #61481C;
  font-style: normal;
}

#lock{ display:none; }
   @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
 #lock{ display:block; }
 #container{ display:none; }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  #lock{ display:none; }
 #container{ display:block; }
}
